body {
	font-family: Univers,sans-serif;
	font-size: 60px;
	text-align: center;
	color:white;
	background-color: green;
}

.date {
	font-size: 30px;
	text-align: left;
	background-color: green;
}

.title {
	font-size: 60px;
	text-align: left;
	background-color: black;
	font-weight: bold;
}

.mada {
	font-size: 90px;
	text-align: left;
	background-color: black;
	font-weight: bold;
}

.sentence {
	font-size: 30px;
	text-align: left;
	margin-bottom: 20px;
}

a {
	color:red;
}
