body {
	background-color: black;
	font-family: arial;
}

.title {
	font-size: 70px;
	text-align: center;
	background-color: darkorange;
	color: white;
	margin-bottom: 20px;
	border: 1px solid white;
}

.icon1 {
	font-size: 40px;
	color: white;
	text-align: center;
	width: 300px;
	height: 50px;
	background-color: darkorange;
	white-space: nowrap;
	margin-top: 10px;
	margin-left: 20px;
	display: inline-block;
	border: 1px solid white;
}

.icon1:hover {
	background-color:white;
	color: darkorange;
	cursor: pointer;
}

.icon2 {
	font-size: 40px;
	color: white;
	text-align: center;
	width: 300px;
	height: 50px;
	background-color: darkorange;
	white-space: nowrap;
	margin-top: 10px;
	display: inline-block;
	border: 1px solid white;
}

.icon2:hover {
	background-color:white;
	color: darkorange;
	cursor: pointer;
}

.icon3 {
	font-size: 40px;
	color: white;
	text-align: center;
	width: 300px;
	height: 50px;
	background-color: darkorange;
	white-space: nowrap;
	margin-top: 10px;
	display: inline-block;
	border: 1px solid white;
}

.icon3:hover {
	background-color:white;
	color: darkorange;
	cursor: pointer;
}

.icon4 {
	font-size: 40px;
	color: white;
	text-align: center;
	width: 300px;
	height: 50px;
	background-color: darkorange;
	white-space: nowrap;
	margin-top: 10px;
	display: inline-block;
	border: 1px solid white;
}

.icon4:hover {
	background-color:white;
	color: darkorange;
	cursor: pointer;
}

.container {
	margin-left: 0px;
}

.container2 {
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: right;
}

.indexbtn {
	display: flex;
	width: 250px;
	height: 50px;
	color: white;
	font-size: 40px;
	outline-color: white;
	outline-style: solid;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 10px;
	text-align: center;
	white-space: nowrap;
}

.indexbtn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.subhead {
	color: white;
	font-size: 40px;
}