body {
	font-family: sweet-square-pro;
	font-size: 18px;
}

.nav {
	display: flex;
	justify-content: flex-start;
	background-color: red;
	box-shadow: 0px 0px 10px 10px lightgray;
	top: 0px;
	left: 0px;
	width: 100%
}

.btn {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	border-radius: 30px;
}

.btn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.title {
	margin-left: 10px;
	margin-top: 33.33vh;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.item {
	width: 25%;
	padding: 20px;
	background-color: papayawhip;
}

.item img {
	width: 100%;
	display: block;
	margin: auto;
	filter: grayscale(100%) contrast(1);
}

.item.large {
	width: 50%;
}

.item.ledium {
	width: 30%;
}

.item.medium {
	width: 25%;
}

.item.small {
	width: 20%;
}

.item.vsmall {
	width: 16.5%;
}

.next {
	background-color: red;
}


.next:hover {
	cursor: pointer;
	color: white;
	background-color: black;
}

.footer {
	background-color: red;
}