.date {
	font-size: 60px;
	text-align: right;
	background-color: purple;
}

.title {
	font-size: 120px;
	text-align: right;
	background-color: red;
}

.mada {
	font-size: 180px;
	text-align: left;
	background-color: red;
}

.sentence {
	font-size: 40px;
	background-color: purple;
}




